@media only screen and (max-width: 1440px) {
    .banner-icons.b {
        transform: translate(270px, 0px);
    }
    .banner-icons.d {
        transform: translate(-270px, 0px);
    }
    .banner-icons.c {
        transform: translate(575px, 100px);
    }
    .compact-heading {
        font-size: 75px;
    }
    .compact-heading-text {
        height: 60px;
    }
    .compact-desc {
        font-size: 23px;
    }
    img.spec-banner-icon {
        height: 130px;
    }
    .specification .banner-icons.a {
        transform: translate(250px, 350px);
    }
    .specification .banner-icons.h {
        transform: translate(-300px, 350px);
    }
    .specification .banner-icons.b {
        transform: translate(300px, 220px);
    }
    .specification .banner-icons.g {
        transform: translate(-340px, 220px);
    }
    .specification .banner-icons.c {
        transform: translate(390px, 110px);
    }
    .specification .banner-icons.f {
        transform: translate(-435px, 110px);
    } 
    .specification .banner-icons.e {
        transform: translate(-585px, 40px);
    }  
    .specification .banner-icons.d {
        transform: translate(545px, 40px);
    } 
}
@media only screen and (max-width: 1366px) {
    .banner-icons.d {
        transform: translate(-285px, 0px);
    }
    .banner-icons.c {
        transform: translate(545px, 100px);
    }
    .compact-desc {
        font-size: 21px;
    }
    .specification .banner-icons.e {
        transform: translate(-570px, 40px);
    }
    .specification .banner-icons.d {
        transform: translate(515px, 40px);
    }
}
@media only screen and (max-width: 1280px) {
    .specification .banner-icons.a {
        transform: translate(210px, 340px);
    }
    .specification .banner-icons.b {
        transform: translate(255px, 200px);
    }
    .specification .banner-icons.c {
        transform: translate(355px,90px);
    }
    .specification .banner-icons.d {
        transform: translate(490px, 40px);
    }
    .specification .banner-icons.e {
        transform: translate(-525px, 40px);
    }
    .specification .banner-icons.f {
        transform: translate(-390px, 90px);
    }
    .specification .banner-icons.g {
        transform: translate(-300px, 200px);
    }
    .specification .banner-icons.h {
        transform: translate(-260px, 340px);
    }
    .compact-desc {
        font-size: 20px;
    }
    .banner-icons.c {
        transform: translate(515px, 100px);
    }
    footer {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1024px) {
    .col-md-2 {
        max-width: 25%;
    }
    .banner-icons.a {
        transform: translate(0px, -190px);
    }
    .banner-icons.e {
        transform: translate(0px, -190px);
    }
    .banner-icons.b {
        transform: translate(120px, 0px);
    }
    .banner-icons.d {
        transform: translate(-135px, 0px);
    }
    .banner-icons.c {
        transform: translate(370px, 100px);
    }
    img.compact-design-img {
        height: 370px;
    }
    .compact-heading-text {
        height: 39px;
    }
    .compact-heading {
        font-size: 53px;
    }
    .compact-desc {
        font-size: 15px;
    }
    .sector {
        height: 500px;
    }
    .bob {
        height: 70px;
    }

.black-banner-image {
    height: 370px;
}
img.spec-banner-icon {
    height: 100px;
}
.specification .banner-icons.a {
    transform: translate(155px, 295px);
}
.specification .banner-icons.b {
    transform: translate(180px, 180px);
}
.specification .banner-icons.c {
    transform: translate(250px,80px);
}
.specification .banner-icons.e {
    transform: translate(-550px, 30px);
}
.specification .banner-icons.h {
    transform: translate(-200px, 295px);
}
.specification .banner-icons.g {
    transform: translate(-240px, 180px);
}
.specification .banner-icons.f {
    transform: translate(-315px, 80px);
}
.specification .banner-icons.d {
    transform: translate(490px, 30px);
}
img.spec-elipse-icon {
    height: 200px;
}
.sector-small {
    height: 370px;
}
  .sector.tablet {
    height: 580px;
}
footer {
    font-size: 11px;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    color: white;
}
}
@media only screen and (max-width: 960px) {
    .col-md-2 {
        max-width: 16.66%;
    }
}
@media only screen and (max-width: 800px) {
    .col-md-2 {
        max-width: 25%;
    }
    .icon-heading {
        font-size: 15px;
    }
    .subtitle1 {
        font-size: 11.97px;    
    }
    .banner-icons.e {
        transform: translate(20px, -190px);
    }
    .banner-icons.b {
        transform: translate(70px, 0px);
    }
    .banner-icons.a {
        transform: translate(-30px, -190px);
    }
    .banner-icons.d {
        transform: translate(-70px, 0px);
    }
    .banner-icons.c {
        transform: translate(275px, 100px);
    }
    img.compact-design-img {
        height: 290px;
    }
    .compact-heading-text {
        height: 30px;
        margin-top:10px;
    }
    .bob {
        height: 60px;
    }
    .compact-desc {
        font-size: 13px;
    }
    .compact-heading {
        font-size: 40px;
    }
    .sector {
        height: 400px;
    }
    .faston-heading {
        font-size: 35px;
    }    
    .faston-card .nav-link, .faston-cardsubheading {
        font-size: 15px;
    }
    .faston-card .nav-item {
        padding: 13px;
    }
    .faston-subheading {
        font-size: 15px;
    }
    .sector-large {
        height: 630px;
    }
    .specification .banner-icons.a {
        transform: translate(80px, 195px);
    }
    .specification .banner-icons.b {
        transform: translate(110px, 110px);
    }
   
.specification .banner-icons.d {
    transform: translate(475px, 30px);
}
.specification .banner-icons.h {
    transform: translate(-145px, 195px);
}
.specification .banner-icons.g {
    transform: translate(-172px, 110px);
}
.specification .banner-icons.c {
    transform: translate(267px,-13px);
}
.specification .banner-icons.e {
    transform: translate(-550px, 30px);
}
.specification .banner-icons.f {
    transform: translate(-334px, -13px);
}
img.spec-elipse-icon {
    height: 160px;
}
.black-banner-image {
    height: 300px;
}
.sector-small {
    height: 300px;
}
.white-banner-text {
    font-size: 11px;
}
.white-banner-heading {
    font-size: 33px;
}
}
@media only screen and (max-width: 768px) {
  
}
@media only screen and (max-width: 600px) {
    /* .banner-icon-parent,.specification{display:none;} */
    .banner-icon-parent.sector {
        background-image: url("images/Layer9m.png");
        height: auto;
    }
    .hero-image {
        background-image: url("images/mobile-banner-image-with-product.jpg");
       }
       .compact-design.sector{
        background-image: url("images/Layer8m.png");  }
        .sector {
            height: 800px;
        }
        .compact-desc {
            font-size: 15px;
        }
        .faston-heading {
            font-size: 29px;
        }
        .sector-large {
            height: 1000px;
        }
        .faston-card .nav-link, .faston-cardsubheading {
            font-size: 18px;
        }
        .black-banner.sector-small .col-md-9 {
            background-image: url(images/Layer8m.png);
        }
        .sector-small {
            height: 600px;
        }
        .center-pos {
            top: 20%;
            text-align: center;
            height: 150px;
        }
        .black-banner.sector-small .col-md-3,.white-banner.sector-small .col-md-3 {  
           display:none;
        }
        .sector-small {
            height: auto;
        }
        .float-right-m{float:right}
        .float-left-m{
            float:left
        }
        .white-banner.sector-small .col-md-9 {
            background-image: url(images/Layer9m.png);
        }
        .left-pos {
             top: -5%; 
          text-align:center;
        }
        footer{
            height:auto;            
        }
        footer ul {
            display: block;
            list-style-type: none;
            text-align: center;
        }
        li.social-icon {
            display: contents;
        }
        .container-fluid.sector-small.contact-banner {
            text-align: center;
        }
        .banner-icons {
            position: relative;
            transform: none !important;
        }
        .banner-icons.col-md-2 {
            max-width: 50% !important;
        }
        .banner-icon-parent .disclaimer {
            position: relative;
            text-align: center;
            padding-top: 20px;
            bottom: unset;
            left: unset;
            margin-left: auto;
        }
        .banner-parent-icon-row.row {
            padding-top: 25px;
            padding-bottom: 25px;        }
        .specification.sector {
            background-image: url(images/Layer9m.png);
            height:auto;
        }
        .elipse-text.down {
            position: relative;
        }
        .banner-icons.col-md-1 {
            max-width: 25%;
        }
        .compact-design .col-md-6.right {
            padding-top: 40px;
        }
    }
@media only screen and (max-width: 575px) {
    .compact-design .col-md-6.right {
        padding-top: 30px;
    }
    .compact-design .col-md-6 {
        padding: 20px;
    }
    .sector {
        height: 700px;
    }
    .faston-heading {
        font-size: 21px;
    }
    .faston-heading:before, .faston-heading:after {
        content: "\00a0\00a0\00a0\00a0____\00a0\00a0\00a0\00a0";
        position: relative;
        top: -8px;
    }
    .black-banner.sector-small .col-md-3, .white-banner.sector-small .col-md-3 {
display:none;    }
    .sector-small {
        height: auto;
    }
    .hero-image {
        height: 350px;
    }
    img.spec-banner-icon {
        height: 80px;
    }
    .contact-phone {
        font-size: 14.94px;
    }
}
@media only screen and (max-width: 400px) {
  
}
@media only screen and (max-width: 320px) {
    img.compact-design-img {
        height: 200px;
    }
    .hero-image {
        height: 300px;
    }
    .compact-heading-text {
        height: 22px;
        margin-right:5px;
    }
    .compact-heading {
        font-size: 30px;
    }
    .bob {
        height: 40px;
    }
    .compact-desc {
        margin-top: 30px;
    }
    .sector {
        height: 600px;
    }
    .faston-heading {
        font-size: 18px;
    }
    .faston-subheading {
        font-size: 12px;
        padding-bottom: 0px;
    }
    .faston-card .nav-link, .faston-cardsubheading {
        font-size: 12px;
    }
    .sector-large {
        height: 800px;
    }
    .btn-success-green {
          font-size: 11.97px;
        width: 100px;
        height: 30px;
    }
    .white-banner-heading {
        font-size: 29px;
    }
    .contact-phone {
        font-size: 11.94px;
    }    
    footer ul {
        padding-left: 0px;
    }
    .contact-banner.sector-small {
        height: auto;
    }
    .contact-phone-subtitle {
        font-size: 12.95px;
    }
    img.spec-banner-icon {
        height: 60px;
    }
}