@media only screen and (max-width: 1440px) {
    .banner-icons.b {
        transform: translate(270px, 0px);
    }
    .banner-icons.d {
        transform: translate(-270px, 0px);
    }
    .banner-icons.c {
        transform: translate(575px, 100px);
    }
    .compact-heading {
        font-size: 75px;
    }
    .compact-heading-text {
        height: 60px;
    }
    .compact-desc {
        font-size: 23px;
    }
    img.spec-banner-icon {
        height: 130px;
    }
    .specification .banner-icons.a {
        transform: translate(250px, 350px);
    }
    .specification .banner-icons.h {
        transform: translate(-300px, 350px);
    }
    .specification .banner-icons.b {
        transform: translate(300px, 220px);
    }
    .specification .banner-icons.g {
        transform: translate(-340px, 220px);
    }
    .specification .banner-icons.c {
        transform: translate(390px, 110px);
    }
    .specification .banner-icons.f {
        transform: translate(-435px, 110px);
    } 
    .specification .banner-icons.e {
        transform: translate(-585px, 40px);
    }  
    .specification .banner-icons.d {
        transform: translate(545px, 40px);
    } 
}
@media only screen and (max-width: 1366px) {
    .banner-icons.d {
        transform: translate(-285px, 0px);
    }
    .banner-icons.c {
        transform: translate(545px, 100px);
    }
    .compact-desc {
        font-size: 21px;
    }
    .specification .banner-icons.e {
        transform: translate(-570px, 40px);
    }
    .specification .banner-icons.d {
        transform: translate(515px, 40px);
    }
}
@media only screen and (max-width: 1280px) {
    .specification .banner-icons.a {
        transform: translate(210px, 340px);
    }
    .specification .banner-icons.b {
        transform: translate(255px, 200px);
    }
    .specification .banner-icons.c {
        transform: translate(355px,90px);
    }
    .specification .banner-icons.d {
        transform: translate(490px, 40px);
    }
    .specification .banner-icons.e {
        transform: translate(-525px, 40px);
    }
    .specification .banner-icons.f {
        transform: translate(-390px, 90px);
    }
    .specification .banner-icons.g {
        transform: translate(-300px, 200px);
    }
    .specification .banner-icons.h {
        transform: translate(-260px, 340px);
    }
    .compact-desc {
        font-size: 20px;
    }
    .banner-icons.c {
        transform: translate(515px, 100px);
    }
    footer {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1024px) {
    .col-md-2 {
        max-width: 25%;
    }
    .banner-icons.a {
        transform: translate(0px, -190px);
    }
    .banner-icons.e {
        transform: translate(0px, -190px);
    }
    .banner-icons.b {
        transform: translate(120px, 0px);
    }
    .banner-icons.d {
        transform: translate(-135px, 0px);
    }
    .banner-icons.c {
        transform: translate(370px, 100px);
    }
    img.compact-design-img {
        height: 370px;
    }
    .compact-heading-text {
        height: 39px;
    }
    .compact-heading {
        font-size: 53px;
    }
    .compact-desc {
        font-size: 15px;
    }
    .sector {
        height: 500px;
    }
    .bob {
        height: 70px;
    }

.black-banner-image {
    height: 370px;
}
img.spec-banner-icon {
    height: 100px;
}
.specification .banner-icons.a {
    transform: translate(155px, 295px);
}
.specification .banner-icons.b {
    transform: translate(180px, 180px);
}
.specification .banner-icons.c {
    transform: translate(250px,80px);
}
.specification .banner-icons.e {
    transform: translate(-550px, 30px);
}
.specification .banner-icons.h {
    transform: translate(-200px, 295px);
}
.specification .banner-icons.g {
    transform: translate(-240px, 180px);
}
.specification .banner-icons.f {
    transform: translate(-315px, 80px);
}
.specification .banner-icons.d {
    transform: translate(490px, 30px);
}
img.spec-elipse-icon {
    height: 200px;
}
.sector-small {
    height: 370px;
}
  .sector.tablet {
    height: 580px;
}
footer {
    font-size: 11px;
}
}
@media only screen and (max-width: 960px) {
    .col-md-2 {
        max-width: 16.66%;
    }
}
@media only screen and (max-width: 800px) {
  
}
@media only screen and (max-width: 768px) {
  
}
@media only screen and (max-width: 600px) {
  
}
@media only screen and (max-width: 575px) {
  
}
@media only screen and (max-width: 400px) {
  
}
@media only screen and (max-width: 320px) {
  
}