*{
    font-family: 'Lato';}
.bg-extradark{
    background-color: #000000;
}
.navbar{
    padding: 1rem 4rem;
}
.nav-link{
    text-decoration:none;
    color:#fff;
}
.hero-image {
    background-image: url("images/banner-image-with-product.jpg");
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
.banner-icon-parent.sector{
    background-image: url("images/ellipse4.png");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.compact-design.sector{
    background-image: url("images/Layer8.png");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.specification.sector{
    background-image: url("images/ellipse3.png");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.black-banner.sector-small .col-md-9{
    background-image: url("images/Layer8.png");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.black-banner.sector-small .col-md-3{
    background-image: url("images/demo1.png");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.white-banner.sector-small .col-md-3{
    background-image: url("images/demo2.png");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.white-banner.sector-small .col-md-9{
    background-image: url("images/Layer9.png");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-banner.sector-small{
    background-color: white;
    height:350px;
}
.explore-faston.sector-large{
  background-color:white;
}
.sector{
    height:600px;
}
.sector-large{
    height:750px;
}
.sector-small{
    height:450px;
}
.elipse-text{
    text-align:center;
}
.instant-water{
    color: #2b7549;
    font-size: 18px;
    font-weight: 600;
    padding-top:10px;
}
.subtitle2{
    color:#666666;
    font-size: 16px; 
    font-weight: 500;
}
.banner-icons{
    text-align:center;
}
.icon-heading{
    font-size: 18px;
    color:#353535;
    font-weight: 600;
    padding-top:10px;

}
.subtitle1{
    color:#353535;
    font-size: 13.97px; 
    font-weight: 500;
}
.banner-icons{
    position: absolute;
}
.banner-icons.a{
    transform: translate(135px, -190px);
}
.banner-icons.b{
    transform: translate(300px, 0px);
}
.banner-icons.c{
    transform: translate(650px, 100px);
}
.banner-icons.d{
    right:0;
    transform: translate(-300px, 0px);
}
.banner-icons.e{
    right: 0;
    transform: translate(-135px, -190px);
}
.banner-icon-parent{
    position: relative;
}
.banner-icon-parent .disclaimer{
    position: absolute;
    bottom: 0;
    left: 40%;
    margin-left: -100px;
    color:#373737;
    font-size:16px;
}
.compact-design .col-md-6{
    padding:50px;    
}
.compact-design .row{
 margin: auto;
}
.compact-design .container{max-width:90%}
.compact-heading{
    font-size:85px;
    font-weight:600;
    color:white;
}
.bob{
vertical-align: middle;
height: 90px;
}
.compact-heading-text{
    height:70px;
    margin: 15px;
    margin-left:0px;
}
.compact-desc{
    color:white;
    font-size:26px;
    margin-top: 50px;
}
.compact-design .col-md-6.right{
    padding-top: 100px;
}
.faston-heading{
    color: #337645;
    font-size:38px;
    text-align:center;
    padding-top: 35px;
    padding-bottom: 15px;
    position: relative;
    font-weight: 700;
}
.faston-heading:before, .faston-heading:after {    
    content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0____\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";   
    position: relative;
    top: -15px;
}
.faston-subheading{
    color:#3a3a3a;
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
}
.explore-faston .row{
    margin-left:auto;
    margin-right: auto;
}
.faston-card .nav-link,.faston-cardsubheading{
    color: #337645;
    font-size: 20px;
    font-size:600;
}
.faston-card .nav-item{
    padding:20px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.faston-card{
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.faston-cardsubheading{
    margin-top: 50px;
    padding-bottom:20px;
}
.embed-responsive-item{
    height:300px !important;
    width:600px !important;
}
.specification.sector{position:relative;}
.elipse-text.down{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.specification .banner-icons.a{
    left: 0;
    transform: translate(250px, 310px);
}
.specification .banner-icons.b{
    transform: translate(310px, 150px);
    left: 0;
}
.specification .banner-icons.c{
    transform: translate(435px, 20px);
    left: 0;
}
.specification .banner-icons.d{
    transform: translate(590px, -25px);
    left: 0;
}
.specification .banner-icons.e{
    transform: translate(-685px, -25px);
    right: 0;}
.specification .banner-icons.f{
    transform: translate(-531px, 20px);
    right: 0;
}
.specification .banner-icons.g{
    transform: translate(-415px, 150px);
    right: 0;
}
.specification .banner-icons.h{
    right: 0;
    transform: translate(-330px, 310px);
}
.black-banner-image{
padding: 50px;
display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-success-green{
    background-color: #337645;
    color:white;
    font-weight: 600;
    font-size: 13.97px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
}
.center-pos{
    top:50%;
   text-align: center;
}
.black-banner .row{
    margin-left:auto !important;
    margin-right:auto !important;
}
.black-banner.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.left-pos{
    top:30%;
   text-align: left;
}
.white-banner-heading{
    padding-bottom: 10px;
    font-size: 36px;
    color: #000000;
    font-weight:bold;
}
.white-banner-text{
    padding-bottom: 10px;
    font-size: 16px;
    color: #000;
    font-weight:500;
}
.contact-phone{
    font-size: 21.94px;
color: #337645;
font-weight: bold;
}
.contact-phone-subtitle{
    font-size: 15.95px;
    color: #353535;
}
footer{
    height:50px;
    padding: 10px;
    background-color: #000;
    color: #fff;
}
footer .row{margin-left:0;margin-right:0;}